table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    text-align: center;
    vertical-align: center;
}

img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}
